@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000;
}

  .hero {
    background-image: url("../images/welcome (1).svg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
 .gallery {
  text-align: center;
}

.gallery-item-one {
    background: #82B3D3;
}

.gallery-item-two {
    background: #82B3D3;
}

.galle-

.main-description {
  font-size: 22px;
  line-height: 26px;
}
.advantages {
  text-align: center;
}

.advantages-list-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}

.search {
  text-align: center;
}

.subscribe-subscribe-theme-custom {
  text-align: center;
  background-color: #000000;
  background-image: url(../images/follow-background.jpg);
  background-repeat: no-repeat;
  width: 1200;
  height: 415;
} 

.main-subscribe .main-title {
  color: #fff;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000;
  text-decoration: none;
}
.inner-header{
  color: #ffffff;
  background-color: #333333;
  background-image: url(../images/follow-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.filters-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.filters-breadcrumbs a {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}

.filters-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.filters-window-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  color: #ffffff;
  background-color: transparent;
}

.action {
  background-color: #82B3D3;
}

.search-gallery-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.catalog-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog-item-price {
  text-align: right;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
}

.catalog-item-button-detailed {
  background-color: #756157;
  text-decoration: none;
  color: #ffffff;
}

.catalog-item-button-like {
  background-color: #82B3D3;
}

.in-favorites {
  border-color: #7DB54F;
  color: #ffffff;
}

.score {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.paganation-link {
  background-color: #82B3D3;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center
}

.pagination-current {
  background-color: #F2F2F2;
}
.pagination-current {
  color: #000000;
}
	  
