@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000;
}

  .hero {
    background-image: url("../images/welcome (1).svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #bcdfe4;
    text-align: center;
  }

.gallery {
  text-align: center;
}

.main-description {
  font-size: 22px;
  line-height: 26px;
}
.advantages {
  text-align: center;
}

.advantages-list-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}

.search {
  text-align: center;
}

.subscribe-subscribe-theme-custom {
  text-align: center;
  background-color: #000000;
  background-image: url(../images/follow-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
} 

.main-subscribe .main-title {
  color: #fff;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000;
  text-decoration: none;
}
	  
